<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Organize Django Girls workshop
                Django Girls events are organized by groups of wonderful volunteers in cities all over the world. Events are always non-profit and free for participants. We DO NOT PAY coaches, speakers or organizers. Attendees don’t need any previous knowledge about programming and there are no age limitations. All attendees need is a laptop and some curiosity!
                
                In-Person Workshops
                An in-person workshop is any workshop where participants, coaches, and organisers, all meet in the same physical location. Participants can work together in teams and support from coaches is done face-to-face.
                
                These workshops should only be conducted when it is safe to do so, and you may be asked in your application to provide evidence of why you feel this type of worshops is safe, and what, if any, safety measures you will be putting in place.
                
                If you are not sure if it is safe to hold an in-person workshop, you might prefer to organise a remote workshop instead.</p>
        </div>

        <div>
            <p>published: getDate(sysdate) </p>
            <h2><a href="">My second post</a></h2>
            <p>Organize Django Girls workshop
                Django Girls events are organized by groups of wonderful volunteers in cities all over the world. Events are always non-profit and free for participants. We DO NOT PAY coaches, speakers or organizers. Attendees don’t need any previous knowledge about programming and there are no age limitations. All attendees need is a laptop and some curiosity!
                
                In-Person Workshops
                An in-person workshop is any workshop where participants, coaches, and organisers, all meet in the same physical location. Participants can work together in teams and support from coaches is done face-to-face.
                
                These workshops should only be conducted when it is safe to do so, and you may be asked in your application to provide evidence of why you feel this type of worshops is safe, and what, if any, safety measures you will be putting in place.
                
                If you are not sure if it is safe to hold an in-person workshop, you might prefer to organise a remote workshop instead.</p>
        </div>
    </body>
</html>